#author {
  background-color: #f2f2f2;
  height: 100vh;
}
.author-card {
  width: 570px;
  height: 100%;
}
.title-card {
  margin-left: 2px;
  font-size: 17px;
  color: #404040;
}
.subtitle-card {
  position: absolute;
  margin: 37px 0 0 17px;
  font-size: 10px;
  color: #8c8c8c;
}
.author-icon {
  color: #404040;
}
.no-margin {
  margin: 0;
}

#custom-search{
  padding: 0;
  margin-top: 35px;
}
input {
  font-size: 13px;
  padding: 5px;
  width: 150px;
}
/*.btn-search {
  border: 0;
  background: none;
  padding: 3px 5px;
  margin-top: 2px;
  position: relative;
}*/

.search{
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
}

.icon-search {
  position: absolute;
  margin-left: -26px;
  margin-top: 2px;
}

.mdl-grid.center-items {
  justify-content: center;
}

.mdl-button--raised {
  height: 20px;
  padding: 0px 0px;
  font-size: 10px;
  min-width: 46px;
  line-height: 23px;

}

.btn-add {
  margin-left:80px;
  min-width: 48px;
  margin-right: 7px;
  padding-right: 5px;
  position: absolute;
}

i {
  font-size: 14px;
  margin-bottom: 2px;
  margin-left: 2px;
}

@media screen and (max-width: 1024px) {
  #author {
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  #author {
    height: 100%;
  }
  .btn-add {
    margin-left:85px;
  }
}
@media screen and (max-width: 425px) {
  .author-card {
    width: 350px;
  }
}
@media screen and (max-width: 375px) {
  .author-card {
    width: 354px;
    margin-left: -20px;
  }
  .btn-add {
    margin-left:75px;
  }

}

@media screen and (max-width: 320px) {
  .author-card {
    width: 300px;
    margin-left: -20px;
  }
  .btn-add {
    margin-left:35px;
  }
  .table-phonesize {
    margin-left: -30px;
    flex: 0 0 55px;
  }

}
