<div id="create-author">
  <div class="mdl-grid">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <mdl-card mdl-shadow="2" class="author-card">
          <mdl-card-title>
            <mdl-icon class="author-icon">perm_identity</mdl-icon>
            <h2 mdl-card-title-text class="title-card">
              Author</h2>
          </mdl-card-title>

            <small class="subtitle-card">Lorem ipsum dolor sit amet consectetur adipiscing elit.</small>
            <hr class="no-margin">
          <mdl-card-supporting-text>
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--2-col-phone">
                <small class="personal-info">Personal Info</small>
                <mdl-textfield type="text" label="Name" floating-label></mdl-textfield>
              </div>
            </div>
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--2-col-phone">
                <small class="personal-info">Address</small>
                <mdl-textfield type="text" label="Address" floating-label></mdl-textfield>
              </div>
              <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--bottom mdl-cell--2-col-phone">
                <mdl-textfield type="text" label="Country" floating-label></mdl-textfield>
              </div>
            </div>
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--2-col-phone">
                <small class="personal-info">Contact/Website</small>
                <mdl-textfield type="text" label="Phone Number" floating-label></mdl-textfield>
              </div>
              <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--bottom mdl-cell--2-col-phone">
                <mdl-textfield type="text" label="Website" floating-label></mdl-textfield>
              </div>
              <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--bottom mdl-cell--2-col-phone">
                <mdl-textfield type="text" label="Email" floating-label></mdl-textfield>
              </div>
            </div>
          </mdl-card-supporting-text>
          <button mdl-button mdl-button-type="raised" mdl-colored="accent" class="btn-save">
            Save
          </button>
        </mdl-card>

      </div>
    </div>
  </div>
</div>
