<div id="author">
  <div class="mdl-grid">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <mdl-card mdl-shadow="2" class="author-card">
          <mdl-card-title>
            <mdl-icon class="author-icon">perm_identity</mdl-icon>
            <h2 mdl-card-title-text class="title-card">
              Author</h2>
          </mdl-card-title>
          <small class="subtitle-card">Lorem ipsum dolor sit amet consectetur adipiscing elit.</small>
          <hr class="no-margin">

          <mdl-card-supporting-text>
            <div class="mdl-grid  center-items">
              <div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-tablet">
                <div>
                  <input type="text" name="" value="" placeholder="Search" class="search">
                  <mdl-icon class="icon-search">search</mdl-icon>
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent btn-add">
                    <i class="material-icons">add</i> Add
                  </button>
                </div>

              </div>
            </div>
            <div class="mdl-grid center-items">
              <div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-tablet">
                <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp table-phonesize">
                  <thead>
                    <tr>
                      <th class="mdl-data-table__cell--non-numeric">Name</th>
                      <th>Country</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="mdl-data-table__cell--non-numeric">Earl Hans</td>
                      <td>Philippines</td>
                      <td>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent btn-view">
                          View
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td class="mdl-data-table__cell--non-numeric">Kristy Mae</td>
                      <td>Germany</td>
                      <td>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                          View
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td class="mdl-data-table__cell--non-numeric">Yuhan Wolf</td>
                      <td>Alaska</td>
                      <td>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                          View
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
            </div>
          </mdl-card-supporting-text>
        </mdl-card>
      </div>
    </div>
  </div>
</div>
