/*#home {
  background-color: #f2f2f2;
  position: absolute;
}
#bar {
  background-color: #ffffff;
  margin-top: 5px;
  margin-left: 15px;
}
.bar-chart {
  width: 500px;
}
.btn-update {
  height: 30px;
  margin: 0px 10px 5px 10px;
}

#pie {
  background-color: #ffffff;*/
  /*margin-top: 5px;
  margin-left: 10px;*/
/*}
.pie-chart {
  width: 300px;
}*/

#home {
  background-color: #f2f2f2;
}
.chart-body {
  background-color: #ffffff;
}
.radarChart {
  margin-top: 2px;
  height: 160px;
}
.doughnutChart {
  height: 170px;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .radarChart {
    /*position: absolute;*/
    /*margin-left: 500px;*/
    margin-left: 50px;
    margin-top: 0px;
    width: 320px;
    height: 180px;
  }
  .pieChart {
    position: absolute;
    margin-left: 380px;
    width: 280px;
    height: 180px;
  }

  .doughnutChart {
    height: 190px;
  }
  .margin-center {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 425px) {
  .radarChart {
    /*position: absolute;*/
    /*margin-left: 500px;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 280px;
    height: 180px;
  }
  .pieChart {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 280px;
    height: 180px;
  }

  .doughnutChart {
    margin-left: auto;
    margin-right: auto;
  }
}
