<div id="login-form">
  <h3 class="mdl-dialog__title">Book Management System</h3>
  <div class="mdl-dialog__content">
    <mdl-textfield #firstElement type="text" label="Username" floating-label autofocus></mdl-textfield>
    <br/>
    <mdl-textfield type="password" label="Password" floating-label></mdl-textfield>
  </div>
  <div class="mdl-dialog__actions">
    <button mdl-button mdl-button-type="raised" mdl-colored="primary"
            mdl-ripple (click)="goto()">Login</button>
  </div>
</div>
