<div [formGroup]="form" name="form">
  <div id="membership">
    <div class="mdl-grid">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
          <mdl-card mdl-shadow="2" class="membership-card">
            <mdl-card-title>
              <mdl-icon class="author-icon">card_membership</mdl-icon>
              <h2 mdl-card-title-text class="title-card">
                Membership</h2>
            </mdl-card-title>

              <small class="subtitle-card">Lorem ipsum dolor sit amet consectetur adipiscing elit.</small>
              <hr class="no-margin">
            <mdl-card-supporting-text>
              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--2-col-phone">
                  <small class="personal-info">Student ID</small>
                  <mdl-textfield type="text"
                                 label="ID Number"
                                 formControlName="student_id"
                                 floating-label
                                 autofocus></mdl-textfield>
                </div>
              </div>
              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--2-col-phone">
                  <small class="personal-info">Personal Info</small>
                  <mdl-textfield type="text"
                                 label="Firstname"
                                 formControlName="firstname"
                                 floating-label
                                 autofocus></mdl-textfield>
                </div>
                <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--bottom mdl-cell--2-col-phone">
                  <mdl-textfield type="text"
                                 label="Lastname"
                                 formControlName="lastname"
                                 floating-label
                                 autofocus></mdl-textfield>
                </div>
                <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--bottom mdl-cell--2-col-phone">
                  <mdl-textfield type="text"
                                 label="Middlename"
                                 formControlName="middlename"
                                 floating-label
                                 autofocus></mdl-textfield>
                </div>
                <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--top mdl-cell--2-col-phone">
                  <mdl-textfield type="text"
                                 label="Email Addresss"
                                 formControlName="email"
                                 floating-label
                                 autofocus></mdl-textfield>
                </div>
              </div>
            </mdl-card-supporting-text>
            <button mdl-button
                    mdl-button-type="raised"
                    mdl-colored="accent"
                    class="btn-save"
                    (click)="create(form.value)">Save</button>
          </mdl-card>
        </div>
      </div>
    </div>
  </div>
</div>
