#pagenotfound {
  background: url('../../../assets/images/pagenotfound.jpg') center / cover;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.header-content {
  position: absolute;
  color: #ffffff;
  height: 100vh;
  width: 100%;
  background: rgba(34, 34, 34, 0.6);
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}
.header {
  font-size: 200px;
}
.sub-header {
  font-size: 35px;
}
.btn-gohome {
  height: 60px;
  width: 150px;
}
@media screen and (max-width: 1024px) {
  .header {
    font-size: 100px;
  }
  .sub-header {
    font-size: 25px;
  }
  .btn-gohome {
    height: 40px;
    width: 100px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    font-size: 60px;
  }
  .sub-header {
    font-size: 18px;
  }
  .btn-gohome {
    height: 40px;
    width: 100px;
  }
}
