<div id="Books">
  <h1 class="book-header">WORLD OF READING</h1>

  <div class="book-list">
    <mdl-textfield type="text" icon="search" class="search"></mdl-textfield>
    <div class="mdl-grid">
      <hr>
      <div class="mdl-cell mdl-cell--3-col cell-thumbnail">
        <div class="thumbnail">
          <a href="#">
            <img src="../../../assets/images/books/book1.jpg" alt="book1">
          </a>
        </div>
        <div class="caption">
          <a href="">The Road</a>
          <p class="title">by Cormac McCarthy</p>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--3-col cell-thumbnail">
        <div class="thumbnail">
          <a href="#">
            <img src="../../../assets/images/books/book2.jpg" alt="book1">
          </a>
        </div>
        <div class="caption">
          <a href="">INTERPRETER OF MALADIE</a>
          <p class="title">BY JHUMPA LAHIRI</p>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--3-col cell-thumbnail">
        <div class="thumbnail">
          <a href="#">
            <img src="../../../assets/images/books/book3.jpg" alt="book1">
          </a>
        </div>
        <div class="caption">
          <a href="">MIDDLESEX: A NOVEL</a>
          <p class="title">BY JEFFREY EUGENIDES</p>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--3-col cell-thumbnail">
        <div class="thumbnail">
          <a href="#">
            <img src="../../../assets/images/books/book4.jpg" alt="book1">
          </a>
        </div>
        <div class="caption">
          <a href="">GILEAD: A NOVEL</a>
          <p class="title">BY MARILYNNE ROBINSON</p>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--3-col cell-thumbnail">
        <div class="thumbnail">
          <a href="#">
            <img src="../../../assets/images/books/book5.jpg" alt="book1">
          </a>
        </div>
        <div class="caption">
          <a href="">KAVALIER & CLAY</a>
          <p class="title">BY MICHAEL CHABON</p>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--3-col cell-thumbnail">
        <div class="thumbnail">
          <a href="#">
            <img src="../../../assets/images/books/book6.jpg" alt="book1">
          </a>
        </div>
        <div class="caption">
          <a href="">A CANTICLE FOR LEIBOWITZ</a>
          <p class="title">BY WALTER M. MILLER JR.</p>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--3-col cell-thumbnail">
        <div class="thumbnail">
          <a href="#">
            <img src="../../../assets/images/books/book7.jpg" alt="book1">
          </a>
        </div>
        <div class="caption">
          <a href="">THE CORRECTIONS</a>
          <p class="title">BY JONATHAN FRANZEN</p>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--3-col cell-thumbnail">
        <div class="thumbnail">
          <a href="#">
            <img src="../../../assets/images/books/book8.jpg" alt="book1">
          </a>
        </div>
        <div class="caption">
          <a href="">TREE OF SMOKE: A NOVEL</a>
          <p class="title">BY DENIS JOHNSON</p>
        </div>
      </div>
    </div>
  </div>
</div>
