#create-author {
  background-color: #f2f2f2;
  height: 100vh;
}
.subtitle-card {
  position: absolute;
  margin: 37px 0 0 17px;
  font-size: 10px;
  color: #8c8c8c;
}
.author-card {
  width: 500px;
  height: 100%;
}
.author-icon {
  color: #404040;
}
.no-margin {
  margin: 0;
}
.title-card {
  margin-left: 2px;
  font-size: 17px;
  color: #404040;
}
.personal-info {
  color:#1a1a1a;
}

.btn-save {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

@media screen and (max-width: 1024px) {
  #create-author {
    height: 100%;
  }
}

@media screen and (max-width: 425px) {
  .author-card {
    width: 350px;
  }
}
@media screen and (max-width: 375px) {
  .author-card {
    width: 320px;
  }
}
@media screen and (max-width: 320px) {
  .author-card {
    width: 300px;
    margin-left: -20px;
  }
}
