<div id="create">
  <div class="mdl-grid">

    <div class="mdl-grid ">

      <div class="mdl-cell mdl-cell--12-col">
        <mdl-card mdl-shadow="2" class="create-card">
            <mdl-card-title>
              <mdl-icon class="book-icon">library_books</mdl-icon>
              <h2 mdl-card-title-text class="title-card">
                Book</h2>
            </mdl-card-title>
            <small class="subtitle-card">Lorem ipsum dolor sit amet consectetur adipiscing elit.</small>
            <hr class="no-margin">

            <mdl-card-supporting-text>
              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col">
                  <small class="book-info">Book Info</small>
                  <mdl-textfield type="text" label="Book Title" floating-label></mdl-textfield>
                </div>
              </div>
              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col">
                  <mdl-textfield type="text" label="Author" floating-label></mdl-textfield>
                </div>
                <div class="mdl-cell mdl-cell--4-col">
                  <mdl-textfield type="text" label="ISBN" floating-label></mdl-textfield>
                </div>
              </div>
              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col">
                  <mdl-textfield type="text" label="Published" floating-label></mdl-textfield>
                </div>
                <div class="mdl-cell mdl-cell--4-col">
                  <mdl-textfield type="text" label="Date Published" floating-label></mdl-textfield>
                </div>
              </div>
              <!-- <small class="admin-name">EARL</small> -->
              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col">
                  <small class="admin-name">EARL</small>
                  <br>
                  <br>
                  <small class="admin-verified">Earl Verified</small>
                  <br>
                  <div class="option">
                    <mdl-radio name="group1" value="1" mdl-ripple>Yes</mdl-radio>
                    <mdl-radio name="group1" value="2" mdl-ripple>No</mdl-radio>
                  </div>
                  <small class="verified_date">Earl Verified Date</small>
                  <mdl-textfield type="text" icon="date_range"></mdl-textfield>
                  <!-- <mdl-textfield type="text" label="Date Added" floating-label></mdl-textfield> -->
                </div>
              </div>
            </mdl-card-supporting-text>
            <button mdl-button mdl-button-type="raised" mdl-colored="accent" class="btn-save">
              Save
            </button>
        </mdl-card>
      </div>
    </div>

  </div>
</div>
