<div id="user-admin">
  <div class="mdl-grid">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <mdl-card mdl-shadow="2" class="users-card">
          <mdl-card-title>
            <mdl-icon class="users-icon">supervisor_account</mdl-icon>
            <h2 mdl-card-title-text class="title-card">
              Users: Detail</h2>
          </mdl-card-title>

          <small class="subtitle-card">Lorem ipsum dolor sit amet consectetur adipiscing elit.</small>
          <hr class="no-margin">

          <mdl-card-supporting-text>
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--2-col-phone">
                <small class="personal-info">Login Credentials</small>
                <mdl-textfield type="text" label="Username" floating-label></mdl-textfield>
              </div>
              <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--bottom mdl-cell--2-col-phone">
                <mdl-textfield type="password" label="Password" floating-label></mdl-textfield>
              </div>
            </div>
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--2-col-phone">
                <small class="personal-info">Personal Info</small>
                <mdl-textfield type="text" label="Firstname" floating-label></mdl-textfield>
              </div>
              <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--bottom mdl-cell--2-col-phone">
                <mdl-textfield type="password" label="Lastname" floating-label></mdl-textfield>
              </div>
              <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--bottom mdl-cell--2-col-phone">
                <mdl-textfield type="password" label="Middlename" floating-label></mdl-textfield>
              </div>
              <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--bottom mdl-cell--2-col-phone">
                <mdl-textfield type="password" label="Email" floating-label></mdl-textfield>
              </div>
            </div>
          </mdl-card-supporting-text>
          <button mdl-button mdl-button-type="raised" mdl-colored="accent" class="btn-save">
            Save
          </button>
        </mdl-card>
      </div>
    </div>
  </div>
</div>
